<script lang="ts">
	import type { PageServerData } from './$types';

	export let data: PageServerData;
</script>

<h1>Shiki Highlighter + SvelteKit</h1>
<a href="https://github.com/shikijs/shiki">Shiki GitHub</a><br />
<a href="https://kit.svelte.dev/docs/introduction">SvelteKit Doc</a>

<h2>Exemple (code dart)</h2>
<div>{@html data.dartExample}</div>
